<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.css">
    <link rel="stylesheet" href="../assets/css/login.css">



    <title>E-Library</title>
</head>

<body>

    <div  id="inneContent">

        <header>
            <nav>
                <div>
                    <a id="login">
                        <span class="fa fa-user"></span>
                        ادخل لحسابك او سجل الان
                    </a>
                    <a href="">
                        <span class="fa fa-star"></span>
                        الرئيسية
                    </a>
                    <a href="">
                        <span class="fa fa-truck"></span>
                        من نحن
                    </a>
                    <a href="">
                        <span class="fa fa-check-square"></span>
                        اتصل بنا
                    </a>
                    <a href="">
                        <span class="fa fa-exclamation-circle"></span>
                        المساعدة
                    </a>
                    <a href="">
                        <span class="fa fa-map-marker"></span>
                        سياسة الخصوصية
                    </a>
                    <a class="language">
                        <span></span>
                        <p>اليمن</p>
                        <p>YER</p>
                    </a>
                    <a href="">
                        English
                        <span class="fa fa-language"></span>
                    </a>
                </div>
            </nav>




            <div class="header-bottom">
                <div>
                    <img src="../assets/images/logos/logo.png" alt="">
                </div>
                <div class="search-div">


                    <input type="search" placeholder="البحث">
                    <button class="fa fa-search"></button>
                    </button>
                    <button class="fa fa-shopping-cart"></button>
                </div>
            </div>

        </header>



        <!-- slider by html css pure -->
        <section class="CSSgal">

            <!-- Don't wrap targets in parent -->
            <s id="s1"></s>
            <s id="s2"></s>
            <s id="s3"></s>
            <s id="s4"></s>
            <s id="s5"></s>
            <s id="s6"></s>
            <s id="s7"></s>

            <div class="slider">
                <div>
                    <img src="../assets/images/sliderImages/1.jpg" alt="">
                </div>
                <div>
                    <img src="../assets/images/sliderImages/2.jpg" alt="">
                </div>
                <div>
                    <img src="../assets/images/sliderImages/3.jpg" alt="">
                </div>
                <div>
                    <img src="../assets/images/sliderImages/4.jpg" alt="">
                </div>
                <div>
                    <img src="../assets/images/sliderImages/5.jpg" alt="">
                </div>
                <div>
                    <img src="../assets/images/sliderImages/6.jpg" alt="">
                </div>
                <div>
                    <img src="../assets/images/sliderImages/7.jpeg" alt="">
                </div>
            </div>


            <div class="prevNext">
                <div><a href="#s7" class="fa fa-angle-left"></a><a href="#s2" class="fa fa-angle-right"></a></div>
                <div><a href="#s1" class="fa fa-angle-left"></a><a href="#s3" class="fa fa-angle-right"></a></div>
                <div><a href="#s2" class="fa fa-angle-left"></a><a href="#s4" class="fa fa-angle-right"></a></div>
                <div><a href="#s3" class="fa fa-angle-left"></a><a href="#s5" class="fa fa-angle-right"></a></div>
                <div><a href="#s4" class="fa fa-angle-left"></a><a href="#s6" class="fa fa-angle-right"></a></div>
                <div><a href="#s5" class="fa fa-angle-left"></a><a href="#s7" class="fa fa-angle-right"></a></div>
                <div><a href="#s6" class="fa fa-angle-left"></a><a href="#s1" class="fa fa-angle-right"></a></div>
            </div>

            <div class="bullets">
                <a href="#s1"></a>
                <a href="#s2"></a>
                <a href="#s3"></a>
                <a href="#s4"></a>
                <a href="#s5"></a>
                <a href="#s6"></a>
                <a href="#s7"></a>
            </div>

        </section>

        <!-- aside + catogries -->
        <section class="categoriesSec">
            <aside>
                <div class="bookLinks">
                    <a href=""> الرئيسية</a>
                    <a href="">&nbsp; /&nbsp; الكتب العربية</a>
                    <a href="">&nbsp; /&nbsp; كتب إلكترونية</a>
                </div>
                <div class="categories-name">
                    <h1 class="eBooks-title">
                        <!-- books svg -->
                        <span></span>
                        كتب إلكترونية
                    </h1>
                    <div class="resultDeatails">
                        <p class="results">تصفية النتائج</p>
                        <p class="bookDetails">
                            علامة تجارية
                            <span class="fa fa-minus-square-o"></span>
                        </p>
                        <p class="bookDetails">
                            السعر
                            <span class="fa fa-minus-square-o"></span>
                        </p>
                        <div>
                            <div class="prograssDetails">
                                <button></button>
                                <div></div>
                                <button></button>
                            </div>
                            <div class="priceDetaile">
                                <p>ر.س.0</p>
                                <p>ر.س.150</p>
                            </div>
                        </div>
                        <p class="bookDetails">
                            صيغة الكتاب
                            <span class="fa fa-minus-square-o"></span>
                        </p>
                    </div>

                </div>


            </aside>
            <section class="productImgs">
                <div class="storBy">
                    <div class="storByDiv">
                        <label for="categoriesSorting">الترتيب بحسب : </label>
                        <select name="categoriesSorting" id="_cate">
                            <option value="*">الرجاء الإختيار</option>
                            <option value="name">الاسم</option>
                            <option value="date">التاريخ</option>
                            <option value="price">السعر</option>
                        </select>
                    </div>
                </div>
                <div class="booksimgs">
                    <section class="bookRow1">
                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/eat-sleep.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <p>
                                كلي و نامي و ابهري الأخرين
                                (كتاب إلكتروني)
                            </p>
                            <div class="cost">
                                <h2>
                                    24.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>
                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>


                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/you-Allah.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <div>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                            </div>
                            <p>
                                لأنك الله
                                (كتاب إلكتروني)
                            </p>
                            <div class="cost">
                                <h2>
                                    12.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>
                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>


                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/Ababeel.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <p>
                                أبابيل
                                (كتاب إلكتروني)
                            </p>
                            <div class="cost">
                                <h2>
                                    42.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>
                            <br>
                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>


                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/noon.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <div>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                            </div>
                            <p>
                                ن النسوية
                                (كتاب إلكتروني)
                            </p>

                            <div class="cost">
                                <h2>
                                    34.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>

                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>
                    </section>


                    <section class="bookRow1">
                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/eat-sleep.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <p>
                                كلي و نامي و ابهري الأخرين
                                (كتاب إلكتروني)
                            </p>
                            <div class="cost">
                                <h2>
                                    24.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>
                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>


                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/you-Allah.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <div>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                            </div>
                            <p>
                                لأنك الله
                                (كتاب إلكتروني)
                            </p>
                            <div class="cost">
                                <h2>
                                    12.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>
                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>


                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/Ababeel.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <p>
                                أبابيل
                                (كتاب إلكتروني)
                            </p>
                            <div class="cost">
                                <h2>
                                    42.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>
                            <br>
                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>


                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/noon.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <div>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                            </div>
                            <p>
                                ن النسوية
                                (كتاب إلكتروني)
                            </p>

                            <div class="cost">
                                <h2>
                                    34.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>

                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>
                    </section>


                    <section class="bookRow1">
                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/eat-sleep.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <p>
                                كلي و نامي و ابهري الأخرين
                                (كتاب إلكتروني)
                            </p>
                            <div class="cost">
                                <h2>
                                    24.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>
                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>


                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/you-Allah.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <div>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                            </div>
                            <p>
                                لأنك الله
                                (كتاب إلكتروني)
                            </p>
                            <div class="cost">
                                <h2>
                                    12.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>
                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>


                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/Ababeel.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <p>
                                أبابيل
                                (كتاب إلكتروني)
                            </p>
                            <div class="cost">
                                <h2>
                                    42.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>
                            <br>
                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>


                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/noon.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <div>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                            </div>
                            <p>
                                ن النسوية
                                (كتاب إلكتروني)
                            </p>

                            <div class="cost">
                                <h2>
                                    34.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>

                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>
                    </section>


                    <section class="bookRow1">
                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/eat-sleep.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <p>
                                كلي و نامي و ابهري الأخرين
                                (كتاب إلكتروني)
                            </p>
                            <div class="cost">
                                <h2>
                                    24.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>
                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>


                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/you-Allah.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <div>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                            </div>
                            <p>
                                لأنك الله
                                (كتاب إلكتروني)
                            </p>
                            <div class="cost">
                                <h2>
                                    12.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>
                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>


                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/Ababeel.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <p>
                                أبابيل
                                (كتاب إلكتروني)
                            </p>
                            <div class="cost">
                                <h2>
                                    42.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>
                            <br>
                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>


                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/noon.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <div>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                            </div>
                            <p>
                                ن النسوية
                                (كتاب إلكتروني)
                            </p>

                            <div class="cost">
                                <h2>
                                    34.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>

                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>
                    </section>


                    <section class="bookRow1">
                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/eat-sleep.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <p>
                                كلي و نامي و ابهري الأخرين
                                (كتاب إلكتروني)
                            </p>
                            <div class="cost">
                                <h2>
                                    24.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>
                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>


                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/you-Allah.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <div>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="yellow-star fa fa-star"></span>
                            </div>
                            <p>
                                لأنك الله
                                (كتاب إلكتروني)
                            </p>
                            <div class="cost">
                                <h2>
                                    12.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>
                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>


                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/Ababeel.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <p>
                                أبابيل
                                (كتاب إلكتروني)
                            </p>
                            <div class="cost">
                                <h2>
                                    42.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>
                            <br>
                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>


                        <div class="bookCard-v1">
                            <div>
                                <img src="../assets/images/books/noon.jpg" width="200" height="200" alt="">
                                <img src="" alt="">
                            </div>
                            <h3>
                                <span>
                                    <img src="../assets/images/svg/book.svg" alt="">
                                </span>
                                <p>كتاب إلكتروني</p>
                            </h3>
                            <div>
                                <span class="yellow-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                                <span class="gray-star fa fa-star"></span>
                            </div>
                            <p>
                                ن النسوية
                                (كتاب إلكتروني)
                            </p>

                            <div class="cost">
                                <h2>
                                    34.99

                                </h2>
                                <span>ر.س.</span>
                            </div>
                            <span class="taxDetails">شامل الضريبة</span>
                            <p class="otherCopies">
                                <span> صيغ أخرى:</span>
                                <span>كتاب مطبوع</span>
                            </p>

                            <div class="bookRefer">

                                <p>
                                    <img src="../assets/images/svg/start.svg" width="25" alt="">
                                </p>
                                <p class="bookReferFont">
                                    <span class="fa fa-cart-plus"></span>
                                </p>
                                <p>
                                    <img src="../assets/images/svg/arrows.svg" width="25" alt="">
                                </p>
                            </div>

                        </div>
                    </section>
                </div>
            </section>
            <div class="bookCateFooter">
                <button>
                    <h3> عرض المزيد</h3>

                </button>
                <div></div>
                <h4>
                    اشتر من كتب إلكترونية على متجر جرير الإلكتروني
                </h4>
            </div>
        </section>




        <footer>
            <div class="uperfoter">
                <div>
                    <div>
                        <h4>انظم الى نشرتنا البريدية</h4>
                        <form action="">
                            <input type="text" placeholder="ادخل بريدك الالكنروني">
                            <i class="fa fa-lock"></i>
                            <button type="submit">اشتراك</button>
                        </form>
                    </div>

                </div>


                <div>
                    <h4>خدمة العملاء</h4>
                    <p>
                        <br> مبيعات للشركات
                        <br> الأسئلة المتكررة
                        <br> دليل التسويق و المطبوعات
                        <br> مواقع المعارض
                        <br> سياسة الضمان
                        <br> سياسة الاسترجاع و الاستبدال
                        <br> اتصل بنا >

                    </p>
                    <h4>920000089</h4>
                </div>


                <div>
                    <h4>خدمات جرير</h4>
                    <p>
                        <br> خدمة تقسيط المشتريات
                        <br> خدمات ما بعد البيع
                        <br> خدمة الحماية الشاملة
                        <br> حماية أجهزة آبل
                        <br> بطاقة خصم جرير
                        <br> بطاقة جرير للهدايا
                    </p>
                </div>

                <div>
                    <h4>روابط سريعة</h4>
                    <p>
                        <br> إصدارات جرير
                        <br> قارئ جرير
                        <br> شركاء برامج المكافئات
                        <br> خدمات شركات الإتصالات
                    </p>
                </div>
                <div>
                    <h4>عن جرير</h4>
                    <p>
                        <br> من نحن
                        <br> الحوكمة
                        <br> علاقات المستثمرين والتقارير
                        <br> الاستدامة
                        <br> الأخبار
                    </p>
                    <h4>
                        فرص عمل
                    </h4>
                </div>
                <div class="fonts">
                    <h4>تواصل معنا</h4>
                    <div class="cotact-icons">
                        <a href="" class="fa fa-facebook"></a>
                        <a href="" class="fa fa-twitter"></a>
                        <a href="" class="fa fa-youtube-play"></a>
                        <a href="" class="fa fa-instagram"></a>
                        <a href="" class="fa fa-linkedin"></a>
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                </div>
            </div>
            <div class="down">
                <div class="down-footer">
                    <div>
                        <img src="../assets/images/logos/a.png" alt="">
                        <img src="../assets/images/logos/b.png" alt="">
                        <img src="../assets/images/logos/c.png" alt="">
                        <img src="../assets/images/logos/d.png" alt="">
                        <img src="../assets/images/logos/e.png" alt="">
                        <img src="../assets/images/logos/f.png" alt="">
                    </div>
                    <div>
                        <p>سياسة الخصوصية | شروط الخدمة</p>
                        <p>.جميع الحقوق محفوظة لمكتبة جرير © 2015. س.ت. 1010032264. اونلاين س.ت. 1010654213</p>
                    </div>

                </div>
            </div>
        </footer>
    </div>


    <section id="login-model">
        <div>
            <h3>تسجيل الدخول</h3>
            <form class="loginForm" action="">
                <input type="text" placeholder="البريد الالكتروني او رقم الجوال">
                <div>
                    <input type="password" placeholder="كلمة السر">
                    <p class="forget"> ؟ نسيت</p>
                    <button class="loginbut">تسجيل الدخول</button>
                    <div class="down">
                        <p >ليس لديك حساب</p>
                        <a href="../templates/signup.html" class="createAccount" >إنشاء حساب جديد</a>
                    </div>
                   
                </div>
           
                
            </form>
        </div>
    </section>

<script src="../assets/js/js.js"></script>
</body>

</html>
